USE [master]
GO
/****** Object:  Database [QLSHOPTHOITRANG]    Script Date: 6/5/2021 11:47:34 PM ******/
CREATE DATABASE [QLSHOPTHOITRANG]
GO
USE [QLSHOPTHOITRANG]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MAPHIEUBH] [int] IDENTITY(1,1) NOT NULL,
	[MOTA] [nvarchar](max) NULL,
	[NGAYLAPBH] [date] NULL,
 CONSTRAINT [PK_BAOHANH] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBAOHANH]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAOHANH](
	[MACHITIETBH] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUBH] [int] NOT NULL,
	[MACHITIETHD] [int] NOT NULL,
	[MAHOADON] [int] NULL,
	[MACHITIETSP] [int] NULL,
 CONSTRAINT [PK_CTBAOHANH] PRIMARY KEY CLUSTERED 
(
	[MACHITIETBH] ASC,
	[MAPHIEUBH] ASC,
	[MACHITIETHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MACHITIETHD] [int] IDENTITY(1,1) NOT NULL,
	[MACHITIETSP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIABAN] [int] NULL,
	[THANHTIEN] [int] NULL,
	[MAHOADON] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHITIETHD] ASC,
	[MAHOADON] ASC,
	[MACHITIETSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MACTPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUNHAP] [int] NULL,
	[MACHITIETSP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[MACHITIETSP] [int] IDENTITY(1,1) NOT NULL,
	[MASIZE] [int] NULL,
	[MAMAU] [int] NULL,
	[SOLUONGTON] [int] NULL,
	[HINHANH] [varchar](50) NULL,
	[MAVACH] [varchar](50) NULL,
	[MASANPHAM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHITIETSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[MAGIAMGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENGIAMGIA] [nvarchar](50) NULL,
	[MOTA] [nvarchar](max) NULL,
	[GIATRITOIDA] [int] NULL,
	[DONHANGTU] [int] NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[MUCGIAMGIA] [float] NULL,
 CONSTRAINT [PK_GIAMGIA] PRIMARY KEY CLUSTERED 
(
	[MAGIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTAO] [date] NULL,
	[THANHTIEN] [int] NULL,
	[MANHANVIEN] [int] NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[MAGIAMGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [varchar](18) NULL,
	[EMAIL] [varchar](50) NULL,
	[HINHANH] [varchar](50) NULL,
	[DIEMTICHLUY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAISANPHAM] [nvarchar](max) NULL,
	[hinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_NHOMSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAISANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAU]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAU](
	[MAMAU] [int] IDENTITY(1,1) NOT NULL,
	[TENMAU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [varchar](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[CMND] [varchar](12) NULL,
	[LUONG] [float] NULL,
	[HINHANH] [varchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
	[TINHTRANG] [nvarchar](20) NULL,
	[EMAIL] [varchar](20) NULL,
	[CHUCVU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[TONGTIEN] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](100) NULL,
	[DONGIA] [int] NULL,
	[KHUYENMAI] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[HINHANH] [varchar](50) NULL,
	[MOTA] [nvarchar](max) NULL,
	[MALOAISANPHAM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIZE](
	[MASIZE] [int] IDENTITY(1,1) NOT NULL,
	[TENSIZE] [varchar](50) NULL,
	[MOTA] [varchar](50) NULL,
 CONSTRAINT [PK_SIZE] PRIMARY KEY CLUSTERED 
(
	[MASIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOANNHANVIEN]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOANNHANVIEN](
	[MATAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTAO] [date] NULL,
	[TENTAIKHOAN] [varchar](20) NULL,
	[MATKHAU] [varchar](20) NULL,
	[TRANGTHAI] [bit] NULL,
	[MANHANVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[barcode]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[barcode] as
select SanPham.MALOAISANPHAM,Sanpham.tenSanPham,SANPHAM.MASANPHAM,mau.maMau,SIZE.masize from mau,size,CHITIETSANPHAM,SANPHAM,LoaiSanPham
where mau.mamau= CHITIETSANPHAM.mamau
	and size.masize=CHITIETSANPHAM.masize
	and SANPHAM.MASANPHAM = CHITIETSANPHAM.MASANPHAM
	and Sanpham.MaLoaiSanPham = LoaiSanPham.MALOAISANPHAM

GO
/****** Object:  View [dbo].[View_DSCTSP]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DSCTSP]
AS
SELECT dbo.MAU.TENMAU, dbo.SANPHAM.TENSANPHAM, dbo.SANPHAM.DONGIA, dbo.SANPHAM.KHUYENMAI, dbo.SANPHAM.HINHANH, dbo.SANPHAM.MASANPHAM, dbo.SIZE.TENSIZE, dbo.SANPHAM.MOTA, dbo.MAU.MAMAU, dbo.SIZE.MASIZE, dbo.CHITIETSANPHAM.MACHITIETSP, 
             dbo.CHITIETSANPHAM.MAVACH
FROM   dbo.CHITIETSANPHAM INNER JOIN
             dbo.MAU ON dbo.CHITIETSANPHAM.MAMAU = dbo.MAU.MAMAU INNER JOIN
             dbo.SANPHAM ON dbo.CHITIETSANPHAM.MASANPHAM = dbo.SANPHAM.MASANPHAM INNER JOIN
             dbo.SIZE ON dbo.CHITIETSANPHAM.MASIZE = dbo.SIZE.MASIZE


GO
/****** Object:  View [dbo].[vw_CTHD]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CTHD]
AS
SELECT dbo.SANPHAM.TENSANPHAM, dbo.SANPHAM.DONGIA, dbo.CHITIETHOADON.SOLUONG, dbo.SIZE.TENSIZE, dbo.MAU.TENMAU, dbo.CHITIETSANPHAM.MAVACH, dbo.CHITIETHOADON.THANHTIEN, dbo.CHITIETHOADON.MAHOADON, dbo.CHITIETSANPHAM.MACHITIETSP
FROM   dbo.CHITIETHOADON INNER JOIN
             dbo.CHITIETSANPHAM ON dbo.CHITIETHOADON.MACHITIETSP = dbo.CHITIETSANPHAM.MACHITIETSP INNER JOIN
             dbo.MAU ON dbo.CHITIETSANPHAM.MAMAU = dbo.MAU.MAMAU INNER JOIN
             dbo.SANPHAM ON dbo.CHITIETSANPHAM.MASANPHAM = dbo.SANPHAM.MASANPHAM INNER JOIN
             dbo.SIZE ON dbo.CHITIETSANPHAM.MASIZE = dbo.SIZE.MASIZE


GO
/****** Object:  View [dbo].[vw_HoaDon]    Script Date: 6/5/2021 11:47:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_HoaDon]
AS
SELECT dbo.HOADON.MAHOADON, dbo.HOADON.NGAYTAO, dbo.HOADON.THANHTIEN, dbo.NHANVIEN.TENNHANVIEN, dbo.KHACHHANG.TENKHACHHANG, dbo.GIAMGIA.MOTA
FROM   dbo.CHITIETHOADON INNER JOIN
             dbo.HOADON ON dbo.CHITIETHOADON.MAHOADON = dbo.HOADON.MAHOADON INNER JOIN
             dbo.KHACHHANG ON dbo.HOADON.MAKHACHHANG = dbo.KHACHHANG.MAKHACHHANG INNER JOIN
             dbo.NHANVIEN ON dbo.HOADON.MANHANVIEN = dbo.NHANVIEN.MANHANVIEN INNER JOIN
             dbo.GIAMGIA ON dbo.HOADON.MAGIAMGIA = dbo.GIAMGIA.MAGIAMGIA


GO
--Trigger cập nhật số lượng tồn sản phẩm
create trigger capNhatSLT
on Chitiethoadon
for insert,delete,update
as	
	begin
		
		declare @num int = (Select sum(SOLUONG) from inserted)
		declare @ma int = (select MACHITIETSP from inserted)
		declare @ma1 int = (select MACHITIETSP from deleted)
		declare @num1 int = (Select sum(Soluong) from deleted)
		update SanPham
		set KHUYENMAI= KHUYENMAI - @num
		where MASANPHAM = @ma
		update SANPHAM
		set KHUYENMAI= KHUYENMAI + @num1
		where MASANPHAM = @ma1
	end
GO
-------------
SET IDENTITY_INSERT [dbo].[BAOHANH] ON 

INSERT [dbo].[BAOHANH] ([MAPHIEUBH], [MOTA], [NGAYLAPBH]) VALUES (1, N'Bảo hành sản phẩm Áo khoác dù màu đen Poly Spandex', CAST(0x75420B00 AS Date))
INSERT [dbo].[BAOHANH] ([MAPHIEUBH], [MOTA], [NGAYLAPBH]) VALUES (2, N'Bảo hành sản phẩm Áo khoác kaki chống tia UV', CAST(0x74420B00 AS Date))
INSERT [dbo].[BAOHANH] ([MAPHIEUBH], [MOTA], [NGAYLAPBH]) VALUES (3, N'Bảo hành sản phẩm Áo khoác dù chống UV Kháng khuẩn siêu nhẹ', CAST(0x73420B00 AS Date))
SET IDENTITY_INSERT [dbo].[BAOHANH] OFF
SET IDENTITY_INSERT [dbo].[CHITIETBAOHANH] ON 

INSERT [dbo].[CHITIETBAOHANH] ([MACHITIETBH], [MAPHIEUBH], [MACHITIETHD], [MAHOADON], [MACHITIETSP]) VALUES (1, 1, 1, 1, 1)
INSERT [dbo].[CHITIETBAOHANH] ([MACHITIETBH], [MAPHIEUBH], [MACHITIETHD], [MAHOADON], [MACHITIETSP]) VALUES (2, 2, 1, 1, 1)
INSERT [dbo].[CHITIETBAOHANH] ([MACHITIETBH], [MAPHIEUBH], [MACHITIETHD], [MAHOADON], [MACHITIETSP]) VALUES (3, 3, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[CHITIETBAOHANH] OFF
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([MACHITIETHD], [MACHITIETSP], [SOLUONG], [DONGIABAN], [THANHTIEN], [MAHOADON]) VALUES (1, 1, 2, 220000, 440000, 1)
INSERT [dbo].[CHITIETHOADON] ([MACHITIETHD], [MACHITIETSP], [SOLUONG], [DONGIABAN], [THANHTIEN], [MAHOADON]) VALUES (2, 1, 1, 350000, 350000, 1)
INSERT [dbo].[CHITIETHOADON] ([MACHITIETHD], [MACHITIETSP], [SOLUONG], [DONGIABAN], [THANHTIEN], [MAHOADON]) VALUES (3, 1, 1, 450000, 450000, 1)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] ON 

INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MACHITIETSP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 1, 1, 1, 220000, 220000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MACHITIETSP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, 1, 2, 1, 350000, 350000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MACTPHIEUNHAP], [MAPHIEUNHAP], [MACHITIETSP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (3, 3, 3, 1, 390000, 390000)
SET IDENTITY_INSERT [dbo].[CHITIETPHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[CHITIETSANPHAM] ON 

INSERT [dbo].[CHITIETSANPHAM] ([MACHITIETSP], [MASIZE], [MAMAU], [SOLUONGTON], [HINHANH], [MAVACH], [MASANPHAM]) VALUES (1, 2, 4, 23, N'aoKhoac1_xanh.jpg', N'SP0001000100040002', 1)
INSERT [dbo].[CHITIETSANPHAM] ([MACHITIETSP], [MASIZE], [MAMAU], [SOLUONGTON], [HINHANH], [MAVACH], [MASANPHAM]) VALUES (2, 3, 1, 23, N'aoKhoac1_xanh.jpg', N'SP0001000100010003', 1)
INSERT [dbo].[CHITIETSANPHAM] ([MACHITIETSP], [MASIZE], [MAMAU], [SOLUONGTON], [HINHANH], [MAVACH], [MASANPHAM]) VALUES (3, 1, 3, 21, N'aoKhoac1_xanh.jpg', N'SP0001000100030001', 1)
GO
SET IDENTITY_INSERT [dbo].[CHITIETSANPHAM] OFF
SET IDENTITY_INSERT [dbo].[GIAMGIA] ON 

INSERT [dbo].[GIAMGIA] ([MAGIAMGIA], [TENGIAMGIA], [MOTA], [GIATRITOIDA], [DONHANGTU], [NGAYBD], [NGAYKT], [MUCGIAMGIA]) VALUES (1, N'Giảm giá áo', N'Áo được giảm 5%', 20000, 100000, CAST(0x89420B00 AS Date), CAST(0x8E420B00 AS Date), 0.1)
INSERT [dbo].[GIAMGIA] ([MAGIAMGIA], [TENGIAMGIA], [MOTA], [GIATRITOIDA], [DONHANGTU], [NGAYBD], [NGAYKT], [MUCGIAMGIA]) VALUES (2, N'Giảm giá quần', N'Quần được giảm 5%', 20000, 100000, CAST(0x8A420B00 AS Date), CAST(0x8F420B00 AS Date), 0.2)
INSERT [dbo].[GIAMGIA] ([MAGIAMGIA], [TENGIAMGIA], [MOTA], [GIATRITOIDA], [DONHANGTU], [NGAYBD], [NGAYKT], [MUCGIAMGIA]) VALUES (3, N'Giảm giá giày', N'Giày được giảm 5%', 20000, 100000, CAST(0x8B420B00 AS Date), CAST(0x90420B00 AS Date), 0.3)
SET IDENTITY_INSERT [dbo].[GIAMGIA] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHOADON], [NGAYTAO], [THANHTIEN], [MANHANVIEN], [MAKHACHHANG], [MAGIAMGIA]) VALUES (1, CAST(0x87420B00 AS Date), 450000, 1, 1, 1)
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYTAO], [THANHTIEN], [MANHANVIEN], [MAKHACHHANG], [MAGIAMGIA]) VALUES (2, CAST(0x86420B00 AS Date), 450000, 2, 2, 2)
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYTAO], [THANHTIEN], [MANHANVIEN], [MAKHACHHANG], [MAGIAMGIA]) VALUES (8, CAST(0x92420B00 AS Date), 2555000, 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [HINHANH], [DIEMTICHLUY]) VALUES (1, N'Nguyễn Thị Lụa', N'192 Lê Trọng Tấn TPHCM', N'Nữ', CAST(0xC2220B00 AS Date), N'0912783831', N'lua123@gmail.com', N'Male.jpg', 50)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [HINHANH], [DIEMTICHLUY]) VALUES (2, N'Nguyễn Hữu Tuấn', N'123 Quận 1 TPHCM', N'Nam', CAST(0xD5220B00 AS Date), N'0912783831', N'tuan123@gmail.com', N'Male.jpg', 60)
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [DIACHI], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [HINHANH], [DIEMTICHLUY]) VALUES (3, N'Trần Thị Bình', N'38 Quận 10 TPHCM', N'Nữ', CAST(0xB61B0B00 AS Date), N'0912783831', N'binh123@gmail.com', N'FeMale.jpg', 70)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MALOAISANPHAM], [TENLOAISANPHAM], [hinhAnh]) VALUES (1, N'ÁO KHOÁC', N'jacket.png')
INSERT [dbo].[LOAISANPHAM] ([MALOAISANPHAM], [TENLOAISANPHAM], [hinhAnh]) VALUES (2, N'ÁO SO MI', N'shirt.png')
INSERT [dbo].[LOAISANPHAM] ([MALOAISANPHAM], [TENLOAISANPHAM], [hinhAnh]) VALUES (3, N'QUẦN JEAN', N'jeans.png')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
SET IDENTITY_INSERT [dbo].[MAU] ON 

INSERT [dbo].[MAU] ([MAMAU], [TENMAU]) VALUES (1, N'Đen')
INSERT [dbo].[MAU] ([MAMAU], [TENMAU]) VALUES (2, N'Trắng')
INSERT [dbo].[MAU] ([MAMAU], [TENMAU]) VALUES (3, N'Đỏ')
SET IDENTITY_INSERT [dbo].[MAU] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [CMND], [LUONG], [HINHANH], [NGAYVAOLAM], [TINHTRANG], [EMAIL], [CHUCVU]) VALUES (1, N'Trần Thị Kim Loan', CAST(0xD7220B00 AS Date), N'Nữ', N'0912637381', N'192 Cộng Hòa TPHCM', N'291371823', 4000000, N'nvNu1.jpg', CAST(0x86410B00 AS Date), N'DangHoatDong', N'loan123@gmail.com', N'PhucVu')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [CMND], [LUONG], [HINHANH], [NGAYVAOLAM], [TINHTRANG], [EMAIL], [CHUCVU]) VALUES (2, N'Quách Kim Vũ', CAST(0x4E200B00 AS Date), N'Nữ', N'0921812828', N'12 Quận 12 TPHCM', N'271281282', 4000000, N'nvNu2.jpg', CAST(0x86410B00 AS Date), N'DangHoatDong', N'Vu123@gmail.com', N'PhucVu')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN], [NGAYSINH], [GIOITINH], [SDT], [DIACHI], [CMND], [LUONG], [HINHANH], [NGAYVAOLAM], [TINHTRANG], [EMAIL], [CHUCVU]) VALUES (3, N'Ngô Minh Thư', CAST(0x0D220B00 AS Date), N'Nữ', N'0912637217', N'129 Quận 11 TPHCM', N'839121223', 4000000, N'nvNu3.jpg', CAST(0x86410B00 AS Date), N'DangHoatDong', N'thu123@gmail.com', N'PhucVu')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [TONGTIEN], [TRANGTHAI]) VALUES (1, 5000000, N'Chưa thanh toán')
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [TONGTIEN], [TRANGTHAI]) VALUES (2, 1000000, N'Đã thanh toán')
INSERT [dbo].[PHIEUNHAP] ([MAPHIEUNHAP], [TONGTIEN], [TRANGTHAI]) VALUES (3, 2000000, N'Chưa thanh toán')
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [DONGIA], [KHUYENMAI], [TRANGTHAI], [HINHANH], [MOTA], [MALOAISANPHAM]) VALUES (1, N'Áo khoác dù màu xanh', 299000, 29, 1, N'aoKhoac1.jpg', N'Chất vải dù chống thắm nước thích hợp khi đi trời mưa phùn nhẹ. Chất liệu dày dặn cao cấp 2 lớp, lớp vải dù lót trong mau thoát mồ hôi khô thoáng khi mặc. Dây khóa nhẹ nhàng thuận tiện', 1)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [DONGIA], [KHUYENMAI], [TRANGTHAI], [HINHANH], [MOTA], [MALOAISANPHAM]) VALUES (2, N'Áo khoác dù màu đen Poly Spandex', 385000, 25, 1, N'aoKhoac2.jpg', N'Chất vải dù chống thắm nước thích hợp khi đi trời mưa phùn nhẹ. Chất liệu dày dặn cao cấp 2 lớp, lớp vải dù lót trong mau thoát mồ hôi khô thoáng khi mặc. Dây khóa nhẹ nhàng thuận tiện', 1)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [DONGIA], [KHUYENMAI], [TRANGTHAI], [HINHANH], [MOTA], [MALOAISANPHAM]) VALUES (3, N'Áo khoác Kaki đen', 399000, 15, 1, N'aoKhoac3.jpg', N'Áo được sản xuất từ vải kaki loại 1, không xù, không phai màu, không gây rát da, Chuẩn form, thoải mái, màu sắc trung, tôn dáng, phù hợp với mọi lứa tuổi, Sản phẩm thiết kế đa dạng, nhiều màu sắc, tạo sự khoẻ khoắn, cá tính cho người mặc ', 1)
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[SIZE] ON 

INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE], [MOTA]) VALUES (1, N'S', N'CHI?U CAO 1M60-1M65,CÂN N?NG 55-60KG')
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE], [MOTA]) VALUES (2, N'M', N'CHI?U CAO 1M66-1M69,CÂN N?NG 60-65KG')
INSERT [dbo].[SIZE] ([MASIZE], [TENSIZE], [MOTA]) VALUES (3, N'L', N'CHI?U CAO 1M70-1M74,CÂN N?NG 66-70KG')
SET IDENTITY_INSERT [dbo].[SIZE] OFF
SET IDENTITY_INSERT [dbo].[TAIKHOANNHANVIEN] ON 

INSERT [dbo].[TAIKHOANNHANVIEN] ([MATAIKHOAN], [NGAYTAO], [TENTAIKHOAN], [MATKHAU], [TRANGTHAI], [MANHANVIEN]) VALUES (1, CAST(0x8A420B00 AS Date), N'TAIKHOAN1', N'123456', 1, 5)
INSERT [dbo].[TAIKHOANNHANVIEN] ([MATAIKHOAN], [NGAYTAO], [TENTAIKHOAN], [MATKHAU], [TRANGTHAI], [MANHANVIEN]) VALUES (2, CAST(0x8A420B00 AS Date), N'TAIKHOAN2', N'123456', 1, 6)
INSERT [dbo].[TAIKHOANNHANVIEN] ([MATAIKHOAN], [NGAYTAO], [TENTAIKHOAN], [MATKHAU], [TRANGTHAI], [MANHANVIEN]) VALUES (3, CAST(0x8A420B00 AS Date), N'TAIKHOAN3', N'123456', 1, 7)
SET IDENTITY_INSERT [dbo].[TAIKHOANNHANVIEN] OFF
/****** Object:  Index [UQ__TAIKHOAN__7E46DD90D5BE6740]    Script Date: 6/5/2021 11:47:34 PM ******/
ALTER TABLE [dbo].[TAIKHOANNHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_CTBH_BH] FOREIGN KEY([MAPHIEUBH])
REFERENCES [dbo].[BAOHANH] ([MAPHIEUBH])
GO
ALTER TABLE [dbo].[CHITIETBAOHANH] CHECK CONSTRAINT [FK_CTBH_BH]
GO
ALTER TABLE [dbo].[CHITIETBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_CTBH_CTHD] FOREIGN KEY([MACHITIETHD], [MAHOADON], [MACHITIETSP])
REFERENCES [dbo].[CHITIETHOADON] ([MACHITIETHD], [MAHOADON], [MACHITIETSP])
GO
ALTER TABLE [dbo].[CHITIETBAOHANH] CHECK CONSTRAINT [FK_CTBH_CTHD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MACHITIETSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([MACHITIETSP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_CTSP] FOREIGN KEY([MACHITIETSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([MACHITIETSP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_CTSP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CTSP_SP] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_CTSP_SP]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_MAU] FOREIGN KEY([MAMAU])
REFERENCES [dbo].[MAU] ([MAMAU])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_SP_MAU]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_SIZE] FOREIGN KEY([MASIZE])
REFERENCES [dbo].[SIZE] ([MASIZE])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_SP_SIZE]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_GG_HD] FOREIGN KEY([MAGIAMGIA])
REFERENCES [dbo].[GIAMGIA] ([MAGIAMGIA])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_GG_HD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LSP] FOREIGN KEY([MALOAISANPHAM])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISANPHAM])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LSP]
GO
ALTER TABLE [dbo].[TAIKHOANNHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TAIKHOANNHANVIEN] CHECK CONSTRAINT [FK_TK_NV]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CHITIETSANPHAM"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 237
               Right = 280
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "MAU"
            Begin Extent = 
               Top = 9
               Left = 337
               Bottom = 152
               Right = 559
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SANPHAM"
            Begin Extent = 
               Top = 8
               Left = 649
               Bottom = 205
               Right = 906
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "SIZE"
            Begin Extent = 
               Top = 9
               Left = 930
               Bottom = 179
               Right = 1152
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DSCTSP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_DSCTSP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CHITIETHOADON"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CHITIETSANPHAM"
            Begin Extent = 
               Top = 9
               Left = 336
               Bottom = 206
               Right = 559
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "MAU"
            Begin Extent = 
               Top = 9
               Left = 616
               Bottom = 152
               Right = 838
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SANPHAM"
            Begin Extent = 
               Top = 9
               Left = 895
               Bottom = 206
               Right = 1152
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SIZE"
            Begin Extent = 
               Top = 9
               Left = 1209
               Bottom = 179
               Right = 1431
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or =' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_CTHD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_CTHD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_CTHD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CHITIETHOADON"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "HOADON"
            Begin Extent = 
               Top = 9
               Left = 336
               Bottom = 206
               Right = 577
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "KHACHHANG"
            Begin Extent = 
               Top = 9
               Left = 634
               Bottom = 206
               Right = 878
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "NHANVIEN"
            Begin Extent = 
               Top = 9
               Left = 935
               Bottom = 206
               Right = 1159
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "GIAMGIA"
            Begin Extent = 
               Top = 9
               Left = 1216
               Bottom = 206
               Right = 1438
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_HoaDon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_HoaDon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_HoaDon'
GO
USE [master]
GO
